<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Edit <%= drug.genericName %></title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="icon" href="https://i.imgur.com/yKkMkmi.png" />
</head>
<body class="container">
    <%- include('../partials/_nav.ejs') %>
    <h1> Edit Your Medication Profile</h1>
    <div class="text">
        <form class="form" action="/drugs/<%= drug.id %>?_method=PUT" method="POST">
            <div>
                <label for="genericName">Generic Name:</label>
                <input type="text" name="genericName" id="genericName" value="<%= drug.genericName %>">
                <br>
            </div>
            <div>
                <label for="tradeName">Trade Name:</label>
                <input type="text" name="tradeName" id="tradeName" value="<%= drug.tradeName %>">
                <br>
            </div>
            <div>
                <label for="reactive">Potential for a hypersensitivity reaction?</label>
                <input type="checkbox" <% if (drug.reactive) { %> checked <% } %>  name="reactive" id="reactive" class="checkbox">
                <br>
            </div>
            <div>
                <label for="notes">Notes:</label>
                <textarea type="text" name="notes" id="notes" class="notesBox"><%= drug.notes %></textarea>
                <br>
            </div>
            <div>
                <label for="indications">Indications:</label>
                <select name="indications" id="indications" multiple class="selectBox">
                    <% drug.indications.forEach (indication => { %>
                        <option value="<%= indication._id %>"> <%= indication.typeOfCancer %> </option>
                        <% }); %>
                </select>
            </div>
            <button class="button" type="submit">Update Medication</button>
        </form>
        <form class="form" action="/drugs/<%= drug.id %>/indications" method="GET">
            <button class="button" type="submit">Add an indication</button>
        </form>
        </div>
    </div>
</body>
</html>
