<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= drug.genericName %>
    </title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="icon" href="https://i.imgur.com/yKkMkmi.png" />
</head>

<body class="container">
    <%- include('../partials/_nav.ejs') %>
        <h1>
            <%= drug.genericName %>
        </h1>
        <div class="text">
            <b>Generic Name:</b> <%= drug.genericName %>
            <br>
            <br>
            <b> Trade Name: </b> <%= drug.tradeName %>
            <br>
            <br>
            <b> Potential for a hypersensitivity reaction? </b> <input type="checkbox" <% if (drug.reactive) { %>
                checked <% } %> onclick="return false" class="checkbox">
            <br>
            <br>
            <b> Notes: </b> <%= drug.notes %>
            <br>       
            <br>
            <b>Indications:</b>
            <% drug.indications.forEach ((indication)=> { %>
                <li>
                    <%= indication.typeOfCancer %>
                </li>
                <%}) %>
            <br>
            <br>
            <div>
                <% if (drug.owner._id.equals(user._id)) {%>
                <form class="form" action="/drugs/<%= drug.id %>/edit" method="GET">
                    <button class="button" type="submit">Edit Medication</button>
                </form>
                <br>
                <form class="form" action="/drugs/<%= drug.id %>?_method=DELETE" method="POST">
                    <button class="button" type="submit">Delete Medication</button>
                </form>
                <% } else { %>
                <p><%= drug.owner.username  %> made this profile.</p>
                <% } %>
            </div>
         </div>
</body>
</html>